.dropdown-item:hover {
	background: linear-gradient(45deg,black,darkslategrey);
	color: white !important;
	box-shadow: 0 0 5px black;
}

.details {
	background: linear-gradient(45deg,black,darkslategrey);
}

.projects {
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 8%, rgba(0,212,255,1) 94%);
}


.skills {
	
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(218,235,6,1) 0%, rgba(0,212,255,1) 100%, rgba(218,234,17,1) 100%);
}

.follow{
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(90,16,31,1) 100%);
}

.academp{
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(235,25,6,1) 0%, rgba(0,93,255,1) 59%, rgba(218,234,17,1) 100%);
}

.typewriter  {
  color: black;
  font-family: monospace;
  overflow: hidden; 
  border-right: .15em solid orange; 
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: .15em; 
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}


@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}


@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}





.path  {
  color: darkblue;
  font-family: monospace;
  overflow: hidden; 
  border-right: .15em solid orange; 
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: .15em; 
  animation:
    typing 6.5s steps(30, end),
    blink-caret .5s step-end infinite;
}


@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}


@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}


.path1  {
  color: darkblue;
  font-family: monospace;
  overflow: hidden; 
  border-right: .15em solid orange; 
  white-space: nowrap;  
  margin: 0 auto; 
  letter-spacing: .15em; 
  animation: 
    typing 8.5s steps(30, end),
    blink-caret .5s step-end infinite;
}


@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}


@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}



